@import url(https://fonts.googleapis.com/css?family=Open+Sans|Lato|Indie+Flower|Bangers|Oswald|Source+Sans+Pro);

.top
{
    margin-top: 20%;
}

/*----- Page Layout -----*/

.wrapper
{
    width: 80%;
    margin: auto;
    max-width: 1140px;
}

.wrapper:after 
{
  content: "";
  display: table;
  clear: both;
}

.logo
{
    float: left;
    margin: 10px 0px 0px 20px;
    padding-right: 0px;
    padding-bottom: 10px;
    
    width: 30%;
    /*
    border: 2px solid white;
    padding: 5px;
    */
}

nav ul
{
    float: right;
    padding-top: 0px;
    margin-top: 6.5%;
}

nav li
{
    font-family: 'Lato', sans-serif;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 150%;
}

main
{
    background-color: white;
    position: relative;
}

main.main
{
    background-color: white;
    position: relative;
}

footer
{
    background-color: gray;
    position: relative;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
}

header
{
    background-color: white;
    height: auto;
}


span
{
    font-size: 18px;
    color: #AECDFF;
}

#center
{
    text-align: center;
}



/*----- Fluid Video -----*/

.video-container 
{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
    width: 100%;
    /*
    box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.6), 0 15px 15px -15px rgba(0, 0, 0, 0.6);
    */
}

.videowrapper
{
    width: 80%;
    margin: auto;
    max-width: 1140px;
}

.video-container iframe,  
.video-container object,  
.video-container embed 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*----- Form -----*/

form p {
  color: #000;
  font-size: 18px;
  font-family: helvetica;
  margin-bottom: 5px;
}

input, textarea 
{
    width: 100%;
}

input[type=submit]
{
    width: 100px;
    float: right;
    margin-left: 10px;
}

/*----- Text Styles -----*/

h1
{
    font-family: 'Oswald', sans-serif;
    color: #426BAD;
    text-align: center;
    font-size: 40px;
}

h2
{
    font-family: 'Source Sans Pro', sans-serif;
    color: #4E7ECC;
    font-size: 30px;
}

h3
{
    color: white;
    margin-left: 10px;
}

h5
{
    font-family: 'Indie Flower', cursive;
    color: #AECDFF;
    margin-left: 10px;
}

p
{
    font-family: 'Open Sans', sans-serif;
    color: #619EFF;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

li
{
    color: #619EFF;
    font-size: 20px;
    margin-right: 10px;
}

/*----- Fixed Header -----*/



.wrapper1
{
    width: 30%;
    margin: auto;
    max-width: 1140px;
}

.wrapper2
{
    width: 50%;
    margin: auto;
    max-width: 1140px;
}





.img-rounded
{
    border:1px solid #;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;  
}




.social
{
    width: 59px;
}

/*

.box
{
    border: 3px solid #426BAD;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.box2
{
    border: 3px solid #426BAD;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

*/

/* ----- Header Links -----*/

a:link
{
    color: #1D437F;
    text-decoration: none;
}

a:visited
{
    color: #1D437F;
}

a:hover
{
    color: #AECDFF;
}

a:active
{
    color: #1D437F;
}

/*----- Footer Links -----*/

a:link.bright
{
    color: #AECDFF;
    text-decoration: none;
}

a:visited.bright
{
    color: #AECDFF;
}

a:hover.bright
{
    color:  #1D437F;
}

a:active.bright
{
    color: #AECDFF;
}

.one_third h1
{
    text-align: left;
}

img
{
	max-width: 100%;
    height: auto;
}


.center
{
    text-align: center;
}

body
{
    background-image: url(images/subtlebackground.jpg);
    background-attachment: fixed;
}



.buttonwrapper
{
    text-align: center;
}
    
.button
{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.names
{
    font-size: 26px;
    margin-left: 8px;
}

/*----- Page Columns -----*/

.one_fourth {   width: 21.25%;  }
.one_third {    width: 29.333%;  }
.one_half {     width: 45.5%;  }
.two_third {    width: 61.666%;  }
.three_fourth { width: 69.75%;  }
.full_column {  width: 94%; }
 
.one_half, 
.one_third, 
.two_third, 
.three_fourth, 
.one_fourth, 
.full_column 
{
    float:left;
    margin-left: 3%;
    margin-bottom: 1%;
}

/* -- Clearfix -- */

.row:before,
.row:after
{
    content: " ";
    display: table;
    clear: both;
}

header:before,
header:after
{
    content: " ";
    display: table;
    clear: both;
}


#top-nav {
  display: none; 
}
.toggle-menu {
  float: right; 
}
.toggle-menu img {
  border: 1px #777 solid; 
  border-radius: 5px;
  padding: 3px;
  margin: 0px 20px 0 0;
}
 
/*----- 1st Media Query ----- */

@media screen and (max-width: 1024px)
{
    .one_fourth
    {
        width: 45.5%;
        float: left;
    }
}

@media screen and (max-width: 895px)
{
   
    
    img.social
    {
        max-width: 100%;
        height: auto;
        margin-left: 0px;
    }
    
    img
    {
        max-width: 50%;
        height: auto;
        margin-left: 25%;
    }
    
    /*
    .img-rounded
    {
        margin-left: 0px;
    }
    */
    
   .names
    {
        margin-top: 10px;
    }
    
    header
    {
        height: auto;
        padding-bottom: 7px;
        text-align: center;
    }
    
    #logo
    {
        margin-left: 0px;
    }
    
    .logo
    {
        float: none;
        text-align: center;
        margin-left: 0px;
        margin: auto;
        width: 80%;
    }
    
    nav li
    {
        margin-top: 10px;
    }
    
    nav ul
    {
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        float: none;
        text-align: center;
    }
    
    nav li
    {
        float: none;
        font-size: 200%;
    }
    
    nav a:last-of-type 
    {
        margin-right: 0px;
    }
    
    .one_half
    {
        width: 94%;
    }
    
    
    
    #center
    {
        text-align: left;
    }
    
    .one_third.one
    {
        width:94%;
    }
}

@media screen and (max-width: 788px)
{
    .one_third
    {
        width:94%;
    }
    
    .social
    {
        width: 59px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px)
{
    img
    {
        max-width: 75%;
        height: auto;
        margin-left: 13%;
    }
    
    nav li
    {
        float: none;
        font-size: 134%;
    }
}
/*----- 2nd Media Query ----- */

@media screen and (max-width: 532px) 
{
    .one_fourth
    {
        width: 94%;
    }
    
    .one_fourth.test
    {
        width: 94%;
    }
    
    .one_third
    {
        width: 94%;
    }
    
    .one_third.test
    {
        width: 94%;
    }
    
    .one_fourth.quiz
    {
        width: 94%;
    }
    
    .one_half
    {
        width: 94%;
    }
    
    .suit
    {
        margin-top: 20px;
    }
    
    nav li
    {
        font-family: 'Lato', sans-serif;
        float: none;
        margin-bottom: 10px;
        margin-top: 10px;
        display: block;
        /*
        border-top: 1px #000 solid;
        */
        border-bottom: 1px #1D437F solid;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    
    nav ul
    {
        margin: 0px;
        float: none;
        padding: 0px;
    }
    
    img
    {
        max-width: 100%;
        height: auto;
        margin-left: 0px;
    }

    #background
    {
        background-image: url();
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .wrapper
    {
        width: 100%;
        margin: auto;
        max-width: 1140px;
    }

    .wrapper:after 
    {
      content: "";
      display: table;
      clear: both;
    }
    
   .logo
    {
        width:80%;
        margin: auto;
    }
    
    span
    {
        font-size: 20px;
        color: #AECDFF;
        display: block;
        padding-top: 10px;
    }
    
    .names
    {
        margin-left: 10px;
    }
    .videowrapper
    {
        width: 100%;
        margin: auto;
        max-width: 1140px;
    }
}



 



/*----- Hamburger Media Query ----- */

@media screen and (min-width: 533px)
{
   
#top-nav {
  display: block !important; 
}
.toggle-menu {
  display: none; 
}  
}